<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
  <servlet-name>register</servlet-name>
  <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>register</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>checkLogin</servlet-name>
  <servlet-class>checkLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>checkLogin</servlet-name>
  <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>remarks</servlet-name>
  <servlet-class>remarks</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>remarks</servlet-name>
  <url-pattern>/remarks</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>checkAdminLogin</servlet-name>
  <servlet-class>checkAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>checkAdminLogin</servlet-name>
  <url-pattern>/checkAdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DeleteBlogs</servlet-name>
  <servlet-class>DeleteBlogs</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteBlogs</servlet-name>
  <url-pattern>/DeleteBlogs</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AdminViewUsers</servlet-name>
  <servlet-class>AdminViewUsers</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdminViewUsers</servlet-name>
  <url-pattern>/AdminViewUsers</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AdminDeleteUsers</servlet-name>
  <servlet-class>AdminDeleteUsers</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdminDeleteUsers</servlet-name>
  <url-pattern>/AdminDeleteUsers</url-pattern>
  </servlet-mapping>
</web-app>
